
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2 class="text-center">Click the button to start building your Ɛ-NFA</h2>

    @Html.ActionLink("Ɛ-NFA", "LexoEAFjDStep1", "Home", null, new { @class = "btn btn-success" })
    @*@Html.ActionLink("Minimizimi", "ShfaqAFDMinimal", "Home", null, new { @class="btn btn-danger"})*@

</div>
